#title {
	text-align: center;
	font-family: 'Righteous', cursive;
	font-size: 50px;
	margin: 80px;
	min-width: 900px;
}

input {
	width: 250px;
	height: 100px;
	margin: 10px;
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size: 35px;
}

.btnContainer {
	width: 1100px;
	margin: 0 auto;
}

#admin-icon {
	color: gray;
	margin-left: 93%;
	margin-top:20px;
	vertical-align: middle;
}

input.text {
	margin-bottom: 12px;
	width: 95%;
	padding: .4em;
}

fieldset {
	padding: 0;
	border: 0;
	margin-top: 25px;
}

.login-Type {
	font-size: 15px;
	font-weight: 600;
}