@charset "UTF-8";

header {
	height: 50px;
}
#a {
	min-width: 1485px;
	display: block;
	position: relative;
	}
/* LEFT */
.leftSection {
	width: 15%;
	min-width:215px;
	height: 100%;
	float: left;
	position: relative;
	background-color: gray;
	box-sizing: border-box;
}
/* RIGHT */
.rightSection {
	width: 85%;
	min-width:1260px;
	height: 100%;
	position: relative;
	background-color: cadetblue;
	float: right;
	box-sizing: border-box;
}

.calendar_title {
	
}

.dayHeaderContainer {
	width: 100%;
	height: 100%;
	display: block;
}

.dayHeader {
	height: 100%;
	width: calc(100%/ 7.2);
	display: inline-block;
	text-align: center;
}

#calendar {
	height: 99%;
	box-sizing: border-box;
	padding: 0.5%;
}

#calendar>div {
	box-sizing: border-box;
	text-align: center;
	width: calc(100%/ 7.2);
	height: 130px;
	display: inline-block;
	border-bottom: 1px solid #e4e4e4;
	vertical-align: top;
	padding: 1%;
	/* color: rgb(255, 0, 166); */
	overflow-y: auto;
}

/* .calendar__day {
	display: inline-block;
	vertical-align: bottom;
	width: calc(97%/ 7);
	height: calc(98%/ 5);
	box-sizing: border-box;
	border-radius: 5px;
	padding: 20px;
}

.verticalGutter {
	margin-top: 0.2%;
	margin-right: 0.2%;
} */